modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true", "ATTIO_PEOPLE_WORKFLOW_ID" = "ca27df7c-ad7a-4250-a552-c29a153f280f/87e8188e-34c4-4b6f-927f-1f8d9e38f921"}

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
